@using CalisthenicsSystem.Web.Extensions
@model IEnumerable<CalisthenicsSystem.Models.ViewModels.Users.AllUsersVm>

@{
    ViewBag.Title = "All Users";
}

<div class="jumbotron">
    <div class="container">
        <div class="table-responsive">
            <table class="table table-striped table-hover">
                <thead>
                    <tr>
                        <th></th>
                        <th>@Html.DisplayNameFor(vm => vm.UserName)</th>
                        <th>@Html.DisplayNameFor(vm => vm.Gender)</th>
                        <th>@Html.DisplayNameFor(vm => vm.BirthPlace)</th>
                        <th>@Html.DisplayNameFor(vm => vm.NoteName)</th>
                    </tr>
                </thead>


                @foreach (var item in Model)
            {
                    <tbody>
                        <tr>
                            <td style="vertical-align: middle">@Html.Image($"/Content/images/avatars/{item.AvatarPath}", "70", "70", "profile-avatar", "avatar-profile img-circle")</td>
                            <td style="vertical-align: middle">@Html.ActionLink($"{item.UserName}", "Overview", "Profile", new { userName = $"{item.UserName}" }, null)</td>
                            <td style="vertical-align: middle">@Html.DisplayFor(vm => item.Gender)</td>
                            <td style="vertical-align: middle">@Html.DisplayFor(vm => item.BirthPlace)</td>

                            @if (string.IsNullOrEmpty(item.NoteName))
                            {
                                <td style="vertical-align: middle">Няма дневник</td>
                            }
                            else
                            {
                                <td style="vertical-align: middle">
                                    @Html.ActionLink(item.NoteName, "NoteInfo", "Profile", new { userName = item.UserName }, null)
                                </td>
                            }

                        </tr>
                    </tbody>
                }


            </table>
        </div>        
    </div>
</div>


